/**
* MATERIAL DESIGN COLOR PALETTE
*/

//RED
$red-light-1: #FFEBEE !default;
$red-light-2: #FFCDD2 !default;
$red-light-3: #EF9A9A !default;
$red-light-4: #E57373 !default;
$red-light-5: #EF5350 !default;
$red-dark-1: #F44336 !default;
$red-dark-2: #E53935 !default;
$red-dark-3: #D32F2F !default;
$red-dark-4: #C62828 !default;
$red-dark-5: #B71C1C !default;
$red-alt-1: #FF8A80 !default;
$red-alt-2: #FF5252 !default;
$red-alt-3: #FF1744 !default;
$red-alt-4: #D50000 !default;

//LIGHT BLUE
$lightblue-light-1: #E1F5FE !default;
$lightblue-light-2: #B3E5FC !default;
$lightblue-light-3: #81D4FA !default;
$lightblue-light-4: #4FC3F7 !default;
$lightblue-light-5: #29B6F6 !default;
$lightblue-dark-1: #03A9F4 !default;
$lightblue-dark-2: #039BE5 !default;
$lightblue-dark-3: #0288D1 !default;
$lightblue-dark-4: #0277BD !default;
$lightblue-dark-5: #01579B !default;
$lightblue-alt-1: #80D8FF !default;
$lightblue-alt-2: #40C4FF !default;
$lightblue-alt-3: #00B0FF !default;
$lightblue-alt-4: #0091EA !default;

//YELLOW
$yellow-light-1: #FFFDE7 !default;
$yellow-light-1: #FFF9C4 !default;
$yellow-light-1: #FFF59D !default;
$yellow-light-1: #FFF176 !default;
$yellow-light-1: #FFEE58 !default;
$yellow-dark-1: #FFEB3B !default;
$yellow-dark-2: #FDD835 !default;
$yellow-dark-3: #FBC02D !default;
$yellow-dark-4: #F9A825 !default;
$yellow-dark-5: #F57F17 !default;
$yellow-alt-1: #FFFF8D !default;
$yellow-alt-2: #FFFF00 !default;
$yellow-alt-3: #FFEA00 !default;
$yellow-alt-4: #FFD600 !default;

//GREEN
$green-light-1: #E8F5E9 !default;
$green-light-2: #C8E6C9 !default;
$green-light-3: #A5D6A7 !default;
$green-light-4: #81C784 !default;
$green-light-5: #66BB6A !default;
$green-dark-1: #4CAF50 !default;
$green-dark-2: #43A047 !default;
$green-dark-3: #388E3C !default;
$green-dark-4: #2E7D32 !default;
$green-dark-5: #1B5E20 !default;
$green-alt-1: #B9F6CA !default;
$green-alt-2: #69F0AE !default;
$green-alt-3: #00E676 !default;
$green-alt-4: #00C853 !default;

//BLUE
$blue-light-1: #E3F2FD !default;
$blue-light-2: #BBDEFB !default;
$blue-light-3: #90CAF9 !default;
$blue-light-4: #64B5F6 !default;
$blue-light-5: #42A5F5 !default;
$blue-dark-1: #2196F3 !default;
$blue-dark-2: #1E88E5 !default;
$blue-dark-3: #1976D2 !default;
$blue-dark-4: #1565C0 !default;
$blue-dark-5: #0D47A1 !default;
$blue-alt-1: #82B1FF !default;
$blue-alt-2: #448AFF !default;
$blue-alt-3: #2979FF !default;
$blue-alt-4: #2962FF !default;

// GRAY
$gray-light-1: #FAFAFA !default;
$gray-light-2: #F5F5F5 !default;
$gray-light-3: #EEEEEE !default;
$gray-light-4: #E0E0E0 !default;
$gray-light-5: #BDBDBD !default;
$gray-dark-1: #9E9E9E !default;
$gray-dark-2: #757575 !default;
$gray-dark-3: #616161 !default;
$gray-dark-4: #424242 !default;
$gray-dark-5: #212121 !default;