<div class="purchase-client">
  <div class="purchase-client-body">

    <div class="columns">
      <div class="column is-half">
        <!-- <div>
          <div class="field ">
            <label class="label">Purchase Mode</label>
            <div class="control">
              <div class="select is-fullwidth is-primary">
                <select v-model="purchase.mode_of_purchase" :disabled="boxdisable">
                  <option value="">Select Mode</option>
                  <option value="individual">INDIVIDUAL</option>

                  <option value="bank">BANK</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        &nbsp; -->
        <div>
          <div class="field">
            <label class="label" for="">Currency</label>
            <div class="control">
              <div class="select is-fullwidth is-primary">
                <select @change="getSelected" :disabled="boxdisable" v-model="selectedcurrency">
                  <option value="">Select Currency...</option>
                  <option :value="{'id':option.id,'desc':option.desc,'code':option.code}" v-for="(option, index) in currencyList"
                    v-text="option.code + ' - ' + option.desc"></option>
                </select>
              </div>
            </div>
          </div>
        </div>
        &nbsp;

        <div>

          <div class="field">
            <label class="label" for="">Full Name</label>
            <div class="control">
              <input class="input is-primary" :disabled="boxdisable" v-model.trim="customer_details.fullname" type="text"
                placeholder="Olawale Moh">
            </div>
          </div>
        </div>
        &nbsp;
        <div>
          <div class="field">
            <label class="label" for="">Identification Number</label>
            <div class="control">
              <input class="input is-primary" :disabled="boxdisable" v-model.trim="customer_details.id_no" type="text"
                placeholder="ID No.">
            </div>
          </div>
        </div>
        &nbsp;
        <div>

          <div class="field">
            <label class="label" for="">Biometric Verification Number (BVN)</label>
            <div class="control">
              <input class="input is-primary" :disabled="boxdisable" v-model.trim="customer_details.bvn" type="number"
                placeholder="BVN">
            </div>
          </div>
        </div>


        &nbsp;
        <div>
          <div class="field">
            <label class="label">Currency Number</label>
            <div class="control">
              <input class="input is-primary" v-model.trim="currno" type="number" placeholder="364203492">
            </div>
          </div>
        </div>


      </div>

      <div class="column is-half">

        <div>
          <div class="field">
            <label class="label" for="">Transaction Date</label>
            <div class="control">
              <input class="input is-primary" :disabled="boxdisable" v-model.trim="customer_details.transaction_date"
                type="date" placeholder="12/31/1990">
            </div>
          </div>
        </div>
        &nbsp;
        <div>
          <div class="field">
            <label class="label">Mode of Identification</label>
            <div class="control">
              <div class="select is-fullwidth is-primary">
                <select v-model="customer_details.mode_of_id" :disabled="boxdisable">
                  <option value="">Select ID</option>
                  <option value="National Identity Card Number">National Identity Card Number</option>
                  <option value="Driver License">Driver License</option>
                  <option value="Permanent Voters Card">Permanent Voters Card</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        &nbsp;

        <div>
          <div class="field">
            <label class="label" for="">Identification Expiry Date</label>
            <div class="control">
              <input class="input is-primary" :disabled="boxdisable" v-model.trim="customer_details.id_expirydate"
                type="date" placeholder="12/31/1990">
            </div>
          </div>
        </div>
        &nbsp;

        <div>
          <div class="field">
            <label class="label" for="">Buying Rate</label>
            <div class="control">
              <input class="input is-primary" :disabled="boxdisable" v-model.trim="purchase.buyingrate" type="number"
                placeholder="23.99">
            </div>
          </div>
        </div>
        &nbsp;
        <div class="columns">
          <div class="column is-half">
            <div class="field">
              <label class="label" for="">Note</label>
              <div class="control">
                <input class="input is-primary" v-model.trim="currnote" type="number" placeholder="10 or 20 or 50 etc.">
              </div>
            </div>
          </div>
          <div class="column is-half">
            <div class="field">
              <label class="label" for="">Quantity of Note</label>
              <div class="control">
                <input class="input is-fullwidth is-primary" v-model.trim="purchase.quantity" type="number" placeholder="Quantity">
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- <div class="field">
                <label class="label" for="">Total Amount</label>
                <div class="control">
                    <input class="input is-primary" type="number" placeholder="Total amount">
                </div>
            </div> -->
    </div>

  </div>
  <div>
    <div class=" savebut field is-grouped is-grouped-right">
      <p class="control">
        <a class="button is-primary" style="width:auto" @click="savedetails">
          <p style="font-size:20px">Save</p>
        </a>
      </p>
      <p class="control">
        <a class="button is-light" style="width:auto" @click="cleardetails">
          <p style="font-size:20px">Clear</p>
        </a>
      </p>
    </div>
  </div>
</div>