<div class="purchase-client">
    <div class="purchase-client-header">
        <div class="action-button-light" @click="closeCurrency()"> 
            <i class="mdi mdi-close"></i> Close
        </div>
        <div style="color:#fff; font-weight:600; 
        font-size:20px; align-self:center">Currency Details</div>
        <div class="action-button-light" @click=""> 
            <i class="mdi mdi-check"></i> Save
        </div>
    </div>
    <div class="purchase-client-body">
        <div>
            <div class="field">
                <label class="label" for="">Currency</label>
                <div class="control">
                    <div class="select is-primary">
                    <select>
                        <option value="">Select Currency</option>
                        <option value="">US Dollar(USD)</option>
                        <option value="">British Pound Sterling(GBP)</option>
                        <option value="">Nigerian Naira(NGN)</option>
                        <option value="">Ghanaian Cedi(GHS)</option>
                    </select>
                    </div>
                </div>
            </div>
        </div>
        &nbsp;

        <div>
            <div class="field">
                <label class="label" for="">Currency Number</label>
                <div class="control">
                    <input class="input is-primary" type="number" placeholder="364203492">
                </div>
            </div>
        </div>
        &nbsp;

        <div>
            <div class="field">
                <label class="label" for="">Buying Rate</label>
                <div class="control">
                    <input class="input is-primary" type="number" placeholder="23.99">
                </div>
            </div>
        </div>
        &nbsp;

        <div>
            <div class="field">
                <label class="label" for="">Note</label>
                <div class="control">
                    <input class="input is-primary" type="number" placeholder="10 or 20 or 50 etc.">
                </div>
            </div>
        </div>
        &nbsp;

        <div>
            <div class="field">
                <label class="label" for="">Quantity of Note</label>
                <div class="control">
                    <input class="input is-primary" type="number" placeholder="Quantity">
                </div>
            </div>
        </div>
        &nbsp;
        <div>
            <div class="field">
                <label class="label" for="">Total Amount</label>
                <div class="control">
                    <input class="input is-primary" type="number" placeholder="Total amount">
                </div>
            </div>
        </div>
    </div>
</div>