<div class="bdc-sidebar">
    <div class="bdc-brand"> 
        <!-- <img src="../../../assets/images/cabsol 300x301.png" 
        alt="cabsol logo" height="20" width="20"> -->
        <div class="brand-name">CABSOL BDC</div> 
    </div>

    <div class="sidebar-lists">
        <ul>
            <router-link v-for="(menu,index) in sidebarMenu" tag="a"
            :key="index" :to="menu.link" exact>
                <li>
                    <i :class="menu.icon"></i> 
                    <span class="sidebar-menu">{{menu.name}}</span> 
                </li>
            </router-link> 
        </ul>
    </div>

    <div class="sidebar-footer">&copy; Comsoft Limited. All rights reserved</div>
</div>